body {
  font: 18px/30px Arial, sans-serif;
  background: #f1f1f1;
  margin: 0; }

h1, h2, h3, h4, h5, h6, p, hr {
  margin: 0; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h2 {
  font-size: 18px;
  line-height: 20px; }

h3 {
  font-size: 14px;
  line-height: 16px; }

@media (min-width: 576px) {
  .container {
    max-width: 540px; } }

@media (min-width: 768px) {
  .container {
    max-width: 720px; } }

@media (min-width: 992px) {
  .container {
    max-width: 960px; } }

@media (min-width: 1200px) {
  .container {
    max-width: 1140px; } }

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto; }

.wraper {
  margin: 0;
  padding: 0; }

.main-search {
  background: #f1f1f1; }

.search-form {
  padding-top: 50px;
  position: relative; }
  .search-form .search-input {
    width: 100%;
    font-size: 100px;
    line-height: 110px;
    font-weight: bold;
    border: none;
    background: transparent;
    padding: 0 130px 0 10px;
    outline: none; }
  .search-form input[type="search"]::-webkit-search-decoration,
  .search-form input[type="search"]::-webkit-search-cancel-button,
  .search-form input[type="search"]::-webkit-search-results-button,
  .search-form input[type="search"]::-webkit-search-results-decoration {
    display: none; }
  .search-form input[type="search"] {
    color: #ec5a62; }
  .search-form .search-input:active {
    color: #ec5a62;
    border: none; }
  .search-form input[type="search"]::-webkit-input-placeholder {
    color: #c2c2c2; }
  .search-form input[type="search"]:-ms-input-placeholder {
    color: #c2c2c2; }
  .search-form input[type="search"]::-ms-input-placeholder {
    color: #c2c2c2; }
  .search-form input[type="search"]::placeholder {
    color: #c2c2c2; }
  .search-form .button-search-submit {
    position: absolute;
    right: 0;
    top: 65%;
    width: 80px;
    height: 80px;
    text-indent: 110px;
    overflow: hidden;
    background: transparent url(../img/favicon.png) no-repeat center center;
    background-size: 100%;
    border: none;
    z-index: 100;
    cursor: pointer;
    -webkit-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transform: translate3d(0, -50%, 0) scale(1);
    transform: translate3d(0, -50%, 0) scale(1); }
  .search-form .button-search-submit:hover {
    -webkit-transform: translate3d(0, -50%, 0) scale(1.1);
    transform: translate3d(0, -50%, 0) scale(1.1); }

.content {
  display: inline-block;
  width: 100%;
  margin-top: 40px; }
  .content .column2 {
    width: 30%;
    display: inline-block;
    margin-right: 4%; }
  .content .column2:last-child {
    margin-right: 0; }
  .content .asside .title {
    text-transform: uppercase;
    color: #c2c2c2; }
  .content .asside .list {
    padding: 0;
    list-style: none; }
    .content .asside .list .list-item {
      margin: 5px 0;
      background: rgba(118, 117, 128, 0.05);
      border-radius: 5px;
      -webkit-transition: all .2s ease-in;
      -o-transition: all .2s ease-in;
      transition: all .2s ease-in; }
      .content .asside .list .list-item .list-item-link {
        display: block;
        text-decoration: none;
        cursor: pointer;
        padding: 5px; }
        .content .asside .list .list-item .list-item-link img {
          display: inline-block;
          width: 50px;
          vertical-align: middle; }
        .content .asside .list .list-item .list-item-link .avatar {
          border-radius: 50%; }
        .content .asside .list .list-item .list-item-link h3 {
          display: inline-block;
          vertical-align: middle;
          width: calc(100% - 70px);
          color: #c2c2c2;
          -webkit-transition: all .2s ease-in;
          -o-transition: all .2s ease-in;
          transition: all .2s ease-in; }
    .content .asside .list .list-item:hover {
      background: rgba(118, 117, 128, 0.1); }
    .content .asside .list .list-item:hover h3 {
      color: #ec5a62; }
